!!!
/[if lt IE 7] <html class="no-js ie6 oldie" lang="en">
/[if IE 7] <html class="no-js ie7 oldie" lang="en">
/[if IE 8] <html class="no-js ie8 oldie" lang="en">
<!--[if (gt IE 8)]><html lang="en" class="no-js"><![endif]-->

%head
  %meta{charset: "utf-8"}
  %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
  %title Time Budget
  %meta{content: "width=device-width,initial-scale=1", name: "viewport"}
  
  %link{rel: "stylesheet", type: "text/css", href: "/stylesheets/fluid_grid.css"}
  
  :css
    p, h1, h2, h3, h4, ul, li {
      margin: 0;
      padding: 0;
    }
        
    #masthead {
      margin-bottom: 10px;
    }
        
    .day {
      background-color: #CCC;
      height: 300px;
    }
    
    .day > p {
      margin: 10px;
    }
        
    ul.time_list {
      list-style: none;
      margin: 0 10px;
    }
    
    ul.time_list li {
      background-color: #FFF;
      margin-bottom: 10px;
      padding-left: 5px;
    }
    
    ul.time_list li span {
      border-left: 1px dashed #CCC;
      display: block;
      float: right;
      text-align: center;
      width: 30px;
    }
    
    .time_block {
      background-color: #FFF;
      margin: 1px 10px;
      padding: 3px;
    }
    
%body
  %section#masthead.container.container_4
    .grid_4 Time Budget
    
    .clear &nbsp;

  %section#content
    %section#week.container.container_4
      - sunday_activities = [                                      |
        OpenStruct.new(name: "Sleep", hours_and_minutes: "8"),     |
        OpenStruct.new(name: "Lunch", hours_and_minutes: "1:30" ), |
        OpenStruct.new(name: "Dinner", hours_and_minutes: "1:30" ) |
      ]                                                           |
      = haml :"budget/day", locals: {dom_id: "sunday", name: "Sunday", activities: sunday_activities}
      
      - monday_activities = [                                      |
        OpenStruct.new(name: "Sleep", hours_and_minutes: "8"),     |
        OpenStruct.new(name: "Work", hours_and_minutes: "8" ),     |
        OpenStruct.new(name: "Lunch", hours_and_minutes: "1:30" ), |
        OpenStruct.new(name: "Dinner", hours_and_minutes: "1:30" ) |
      ]                                                           |
      = haml :"budget/day", locals: {dom_id: "monday", name: "Monday", activities: monday_activities}

      - tuesday_activities = [                                     |
        OpenStruct.new(name: "Sleep", hours_and_minutes: "8"),     |
        OpenStruct.new(name: "Work", hours_and_minutes: "8" ),     |
        OpenStruct.new(name: "Lunch", hours_and_minutes: "1:30" ), |
        OpenStruct.new(name: "Dinner", hours_and_minutes: "1:30" ) |
      ]                                                           |
      = haml :"budget/day", locals: {dom_id: "tuesday", name: "Tuesday", activities: tuesday_activities}
        
      - wednesday_activities = [                                   |
        OpenStruct.new(name: "Sleep", hours_and_minutes: "8"),     |
        OpenStruct.new(name: "Work", hours_and_minutes: "8" ),     |
        OpenStruct.new(name: "Lunch", hours_and_minutes: "1:30" ), |
        OpenStruct.new(name: "Dinner", hours_and_minutes: "1:30" ) |
      ]                                                           |
      = haml :"budget/day", locals: {dom_id: "wednesday", name: "Wednesday", activities: wednesday_activities}
          
      .clear{style: "margin-bottom: 4%;"} &nbsp;

      - thursday_activities = [                                    |
        OpenStruct.new(name: "Sleep", hours_and_minutes: "8"),     |
        OpenStruct.new(name: "Work", hours_and_minutes: "8" ),     |
        OpenStruct.new(name: "Lunch", hours_and_minutes: "1:30" ), |
        OpenStruct.new(name: "Dinner", hours_and_minutes: "1:30" ) |
      ]                                                           |
      = haml :"budget/day", locals: {dom_id: "thursday", name: "Thursday", activities: thursday_activities}

      - friday_activities = [                                      |
        OpenStruct.new(name: "Sleep", hours_and_minutes: "8"),     |
        OpenStruct.new(name: "Work", hours_and_minutes: "8" ),     |
        OpenStruct.new(name: "Lunch", hours_and_minutes: "1:30" ), |
        OpenStruct.new(name: "Dinner", hours_and_minutes: "1:30" ) |
      ]                                                           |
      = haml :"budget/day", locals: {dom_id: "friday", name: "Friday", activities: friday_activities}

      - saturday_activities = [                                           |
        OpenStruct.new(name: "Sleep", hours_and_minutes: "8"),            |
        OpenStruct.new(name: "Fiddle 1", hours_and_minutes: "1:20" ),     |
        OpenStruct.new(name: "Lunch", hours_and_minutes: "1:30" ),        |
        OpenStruct.new(name: "Dinner", hours_and_minutes: "1:30" )        |
      ]                                                           |
      = haml :"budget/day", locals: {dom_id: "saturday", name: "Saturday", activities: saturday_activities}
          
      %section#something.grid_1

</html>