!!!
/[if lt IE 7] <html class="no-js ie6 oldie" lang="en">
/[if IE 7] <html class="no-js ie7 oldie" lang="en">
/[if IE 8] <html class="no-js ie8 oldie" lang="en">
<!--[if (gt IE 8)]><html lang="en" class="no-js"><![endif]-->

%head
  %meta{charset: "utf-8"}
  %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
  %title Time Budget
  %meta{content: "width=device-width,initial-scale=1", name: "viewport"}
  
  %link{rel: "stylesheet", type: "text/css", href: "/stylesheets/fluid_grid.css"}
  %link{rel: "stylesheet", type: "text/css", href: "/stylesheets/time_budget.css"}
    
%body
  %section#masthead.container.container_4
    .grid_4 Time Budget
    
    .clear &nbsp;

  %section#content
    %section.container.container_4
      = haml :"budget/day", locals: {day: sunday}
      = haml :"budget/day", locals: {day: monday}
      = haml :"budget/day", locals: {day: tuesday}
      = haml :"budget/day", locals: {day: wednesday}
      
      %div.clear{style: "margin-bottom: 4%"} &nbsp;
      
      = haml :"budget/day", locals: {day: thursday}
      = haml :"budget/day", locals: {day: friday}
      = haml :"budget/day", locals: {day: saturday}
      
      %section#something.grid_1
      
      %div.clear &nbsp;

</html>